//-------------------------------------
//  HEADER
//-------------------------------------

@view-transition {
   navigation: auto;
}

.design-system-header {
   margin-top: var(--sp-500);
   justify-content: space-between;
   align-items: center;
}

.design-system-nav {
   align-items: flex-end;
   margin-block-start: 2rem;
   view-transition-name: design-system-nav;
   text-transform: capitalize;
}

.design-system-nav a:hover {
   color: hsl(var(--clr-purple-light));
}

::view-transition-group(design-system-nav) {
   animation-duration: 300ms;
   animation-timing-function: ease;
}

@media (prefers-reduced-motion: reduce) {
   ::view-transition-group(design-system-nav) {
      animation-duration: 0.01ms;
   }
}

//-------------------------------------
//  COLORS
//-------------------------------------

.title {
   font-family: var(--ff-barlow-cond);
   text-transform: uppercase;
   letter-spacing: var(--letter-spacing-1);
}

.numbered-title {
   font-size: var(--fs-200);
}

.numbered-title span {
   margin-inline-end: 0.5em;
   font-weight: 700;
}

.design-title {
   margin-block-end: var(--sp-800);
}

.design-title span {
   margin-inline-end: 0.5em;
   font-weight: 700;
   color: hsl(var(--clr-white) / 0.25);
}
// a.numbered-title span {
//    margin-inline-end: 0.5em;
//    color: hsl(var(--clr-white));
//    font-weight: 700;
// }

.color-pallet > * {
   flex-grow: 1;
}

.color-rgb-hsl {
   margin-top: var(--sp-200);
}

.color-rgb-hsl > p {
   margin-top: var(--sp-100);
   grid-template-columns: auto 1fr;
}

.color {
   border: 1px solid white;
   padding: 3rem 3rem 1rem 1rem;
}

.preset-title {
   margin-block-end: var(--sp-100);
}

.preset-units {
   margin-block-end: var(--sp-400);
}

.preset-text {
   border-block-start: 2px solid hsl(var(--clr-white) / 0.15);
   padding-block-start: var(--sp-400);
   padding-block-end: var(--sp-600);
}

.typography-columns {
   --gap: 2rem;
}

.typography-column {
   flex-basis: 100%;
}

.typography-column > .typography-preset:last-child .preset-text {
   padding-block-end: 0;
}

footer {
   min-height: 600px;
   padding: 64px 80px;

   background:
      linear-gradient(180deg, #0b0d17 0%, rgba(11, 13, 23, 0) 50%),
      url("/assets/shared/background-crew-desktop.jpg");

   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

//-------------------------------------
//  COMPONENTS
//-------------------------------------

.component-container {
   display: flex;
   margin-block-start: var(--sp-500);
   position: relative;
   justify-content: space-around;
   align-items: center;
   flex: 1;
   padding-block: 3rem;
   background-image:
      linear-gradient(
         to right,
         hsl(var(--clr-purple)) 60%,
         hsl(var(--clr-purple) / 0) 0%
      ),
      linear-gradient(
         to right,
         hsl(var(--clr-purple)) 60%,
         hsl(var(--clr-purple) / 0) 0%
      ),
      linear-gradient(
         to bottom,
         hsl(var(--clr-purple)) 60%,
         hsl(var(--clr-purple) / 0) 0%
      ),
      linear-gradient(
         to bottom,
         hsl(var(--clr-purple)) 60%,
         hsl(var(--clr-purple) / 0) 0%
      );
   background-position: top, bottom, left, right;
   background-size:
      15px 1px,
      15px 1px,
      1px 15px,
      1px 15px;
   background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
}

.component-container::before {
   content: "◈ " var(--component-title, "component title");
   text-transform: capitalize;
   font-size: var(--fs-200);
   color: hsl(var(--clr-purple-light));
   position: absolute;
   top: -2rem;
   left: 0;
}

//NAV

.indicators > * {
   position: relative;
}

.indicators *::after {
   content: "";
   position: absolute;
   background-color: transparent;
}

.horizontal-indicators *::after {
   height: 3px;
   width: 100%;
   left: 0;
   bottom: var(--indicator-gap, -2rem);
}

.vertical-indicators *::after {
   height: 100%;
   width: 3px;
   right: -2rem;
   top: 0;
}

.indicators *.hover::after {
   background-color: hsl(var(--clr-white) / 0.5);
}

.indicators *[aria-current="page"]::after {
   background-color: hsl(var(--clr-white));
}

.indicators *[aria-selected="true"]::after {
   background-color: hsl(var(--clr-white));
}

//BUTTONS
.rounded-button {
   position: relative;
   z-index: 1;
   inline-size: var(--button-width, 8em);
   aspect-ratio: 1;
   border-radius: 50%;
}

.rounded-button::before {
   content: "";
   position: absolute;
   z-index: -1;
   inset: 0;
   border-radius: inherit;
   background-color: hsl(var(--clr-white) / 0.128);
   opacity: 0;
   transition:
      transform 300ms ease-in-out,
      opacity 200ms ease-in;
}

.rounded-button:hover::before,
.rounded-button:focus-visible::before {
   transform: scale(var(--scale-size, 1.5));
   opacity: 1;
}

.rounded-button.hover::before {
   transform: scale(var(--scale-size, 1.5));
   opacity: 1;
}

//PAGINATION

.dot-paginations > * {
   padding: 0;
   background-color: hsl(var(--clr-white) / 0.128);
   width: var(--dot-paginations-width, 15px);
   aspect-ratio: 1;
   border-radius: 50%;
   transition: background-color 300ms ease;
}

.dot-paginations > *:hover {
   background-color: hsl(var(--clr-white) / 0.35);
}

.dot-paginations > *.hover {
   background-color: hsl(var(--clr-white) / 0.35);
}

.dot-paginations > *[aria-current="true"] {
   background-color: hsl(var(--clr-white) / 1);
}

.numbered-paginations > * {
   padding: 0;
   width: var(--numbered-paginations-width, 80px);
   aspect-ratio: 1;
   border-radius: 50%;
   outline: 1px solid hsl(var(--clr-white) / 0.35);
   transition: background-color 300ms ease;
}

.numbered-paginations > *:hover {
   outline: 1px solid hsl(var(--clr-white));
}

.numbered-paginations > *.hover {
   outline: 1px solid hsl(var(--clr-white));
}

.numbered-paginations > *[aria-current="true"] {
   background-color: hsl(var(--clr-white));
   color: hsl(var(--clr-blue-900));
}
