body {
  font-family: var(--ff-barlow);
  font-size: var(--fs-300);
  background-color: hsl(var(--clr-blue-900));
  color: hsl(var(--clr-white));
}

a {
  color: inherit;
  transition: color 200ms ease;

  &:hover {
    color: var(--color-accent-hover);
  }
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

section {
  margin-top: var(--sp-1200);
}

button {
  cursor: pointer;
  background-color: transparent;
  color: inherit;
}

:focus-visible {
  outline: 3px solid var(--color-focus);
  outline-offset: 4px;
}

::selection {
  background-color: var(--color-accent);
  color: var(--clr-white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}
